<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>OnlyMembers</title>
</head>

<body>
    <%- include('partials/header') %>

        <% if (isAuthenticated) { %>
            <h1>Welcome, <%= user.username %>!
            </h1>
            <% } else { %>
                <h1>Welcome, Guest!</h1>
                <% } %>

                    <%- include('partials/footer') %>
</body>

</html>