<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">
    <title>OnlyMembers</title>
</head>

<body>
    <%- include('partials/header') %>

        <section class="hero">
            <% if (isAuthenticated && user.role==='user' ) { %>
                <h1 class="greetings">Welcome, <%= user.username %>!
                </h1>
                <a class="join-community-btn" href="/community">View communities</a>
                <% } else if (!isAuthenticated) { %>
                    <div class="get-started">
                        <h1>Join us now!</h1>
                        <p>A private community of people united by one idea.</p>
                        <a href="/log-in" class="log-btn">Get Started</a>
                    </div>
                    <% } else { %>
                        <h1 class="greetings">Welcome back, <%= user.username %>!</h1>
                        <a class="join-community-btn" href="/club">View club</a>
                        <% } %>
        </section>

        <section class="about-us">
            <div class="container">
                <h2>About Us</h2>
                <p class="subtitle">
                    We are a private community united by one vision — creativity without limits.
                </p>

                <div class="about-content">
                    <div class="about-text">
                        <h3>Our Mission</h3>
                        <p>
                            To create a safe and inspiring place for individuals who want more than just another social
                            media
                            experience. We believe in authenticity, privacy, and freedom of expression.
                        </p>

                        <h3>Our Values</h3>
                        <ul>
                            <li>Privacy First</li>
                            <li>Creativity & Innovation</li>
                            <li>Community Over Popularity</li>
                            <li>Respect & Support</li>
                        </ul>
                    </div>

                    <div class="about-image"></div>
                </div>
            </div>
        </section>


        <%- include('partials/footer') %>
            <script src="https://kit.fontawesome.com/3130acdd01.js" crossorigin="anonymous"></script>
</body>

</html>