<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/sign-up.css">
    <title>Sign Up</title>
</head>

<body>
    <a class="exit" href="/"><i class="fa-solid fa-circle-xmark"></i></a>

    <h1>Sign Up</h1>

    <form action="/sign-up" method="post" class="form-dark">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" , name="username" required
                value="<%= oldInput.username ? oldInput.username : '' %>" />
            <% if (errors.username) { %>
                <div style="color: red;">
                    <%= errors.username %>
                </div>
                <% } %>
        </div>

        <br>

        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" required />
            <% if (errors.password) { %>
                <div style="color:red;">
                    <%= errors.password %>
                </div>
                <% } %>
        </div>

        <br>

        <div class="form-group">
            <label for="confirmPassword">Confirm password:</label>
            <input id="confirmPassword" name="confirmPassword" type="password" required />
            <% if (errors.confirmPassword) { %>
                <div style="color:red;">
                    <%= errors.confirmPassword %>
                </div>
                <% } %>
        </div>

        <br>

        <button class="btn-dark" type="submit">Sign Up</button>

    </form>
    <script src="https://kit.fontawesome.com/3130acdd01.js" crossorigin="anonymous"></script>
</body>

</html>