<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <h1>Sign Up</h1>

    <form action="/sign-up" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" , name="username" required
                value="<%= oldInput.username ? oldInput.username : '' %>" />
            <% if (errors.username) { %>
                <div style="color: red;">
                    <%= errors.username %>
                </div>
                <% } %>
        </div>

        <br>

        <div>
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" required />
            <% if (errors.password) { %>
                <div style="color:red;">
                    <%= errors.password %>
                </div>
                <% } %>
        </div>

        <br>

        <div>
            <label for="confirmPassword">Confirm password:</label>
            <input id="confirmPassword" name="confirmPassword" type="password" required />
            <% if (errors.confirmPassword) { %>
                <div style="color:red;">
                    <%= errors.confirmPassword %>
                </div>
                <% } %>
        </div>

        <br>

        <button type="submit">Sign Up</button> <a href="/">Cancel</a>

    </form>
</body>

</html>