/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* ====================================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('https://images.pexels.com/photos/29708309/pexels-photo-29708309.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
}

main {
    flex-grow: 1;
    padding: 4rem 2rem;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-message {
    background: linear-gradient(135deg, #4f4f4f, #222222);
    color: #aaa;
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
    background-size: 200% 300%;
    text-decoration: none;
    transition: all 0.5s ease;
}

.new-message:hover {
    transform: scale(1.05);
    background-position: 100% 100%;
}

.grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 1000px;
    padding-bottom: 50px;
}

.card {
    position: relative;
    background: rgba(20, 20, 20, 0.6);
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    max-width: 400px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #aaa;
}

.username {
    font-weight: bold;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.delete-message {
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
}